# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo
*.userosscache

# Build
**/bin/
**/obj/

# Rider
.idea/

# Logs
*.log

# NuGet
packages/

# Flutter
**/.dart_tool/
**/build/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Secrets
.env
.env.*