<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<!-- Hedef klasörümüz (ZIP değil, normal klasör olmalı) -->
		<PublishDir>C:\Users\emre\Desktop\TahtaUpdate_1.0.1</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>

		<!-- Hedef Sistem (64-bit Windows) -->
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>

		<!-- İçine Gömülü Sistem (.NET yüklü olmayan tahtalarda bile çalışır) -->
		<SelfContained>true</SelfContained>

		<!-- Tek Dosya (Sadece WatchdogService.exe çıkar, yüzlerce dll çıkmaz) -->
		<PublishSingleFile>true</PublishSingleFile>

		<!-- HATAYA SEBEP OLAN AOT VE DİĞER DERLEYİCİLERİ ZORLA KAPAT -->
		<PublishAot>false</PublishAot>
		<PublishTrimmed>false</PublishTrimmed>
		<PublishReadyToRun>false</PublishReadyToRun>
	</PropertyGroup>
</Project>